/* === General === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Specific === */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 2px solid rgba(0,22,22,0.4);
}
#navbar ul {
  list-style: none;
}
code {
  display: block;
  white-space: pre;
  line-height: 2;
  background-color:#f7f7f7;
  padding:15px;
  margin:10px;
  border-radius:5px;
}
